.container {
  width: 100%;
  overflow-x: hidden;
  background-color: darkcyan;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.h1 {
  text-transform: uppercase;
  text-align: center;
}
.paragraph {
  text-align: center;
}

.searchContainer {
  padding-bottom: 15px;
}

.h2 {
  text-align: center;
  color: black;
}

.searchButton {
  cursor: pointer;
}
.seriesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.checked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  cursor: pointer;
}
.favorites {
  box-shadow: 0 2px 20px 0 #160b0b, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

.listClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 2px;
  object-fit: cover;
  object-position: center center;
}

.listFavoriteClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  object-fit: cover;
  object-position: center center;
}
.style {
  width: 10%;
  height: 10%;
}

.imagen {
  width: 80%;
  height: 80%;
}

.background {
  background-color: black;
}

.color {
  color: blanchedalmond;
}

.hidde {
  display: none;
}
