.seriesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.favorites {
  width: 40%;
  background-color: crimson;
}
.series {
  width: 60%;
}

.listClass {
  list-style-type: none;
}
